<button (click)="signOut()">Signout</button>
<div class="container">
    <h1>Users List</h1>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>User Id </th> -->
          <th>Username </th>
          <th>Designation</th>
          <th></th>
        </tr>
      </thead>
      <!-- {{users | json}} -->
      <tbody>
        <tr *ngFor="let user of users">
          <td><span *ngIf='user.edit!=true'>{{ user.username }}</span>
            <input type='text' *ngIf='user.edit==true' [(ngModel)]='oldUser.username'/></td>
          <td><span  *ngIf='user.edit!=true'>{{ user.designation }}</span>
            <input type='text'  *ngIf='user.edit==true' [(ngModel)]='oldUser.designation'/></td>
          <!-- <td><a routerLink="/updateUser">Update</a></td> -->
          <td><span  *ngIf='user.edit!=true' (click)="user.edit=true;activeEdit(user)" >Edit</span>
            <span  *ngIf='user.edit==true' (click)="user.edit=false;closeEdit(user)" >Close</span></td>
          <td><span   *ngIf='user.edit!=true' (click)="deleteItem(user.userId)" >Delete</span>
            <span  *ngIf='user.edit==true' (click)="updateItem();user.edit=false;" >Save</span>
        </td>

        </tr>
        <tr>
            <td><input type='text' [(ngModel)]='newUser.username'/></td>
            <td><input type='text' [(ngModel)]='newUser.designation'/></td>
            <td><span (click)="addItem()" >Add New User</span></td>
            
        </tr>
      </tbody>
    </table>

  </div>